.listing-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 80%;

  .section-header {
    padding-top: 15px;
    text-align: left;
  }

  .topic-section-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
  }

  .article-section-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    width: 100%;
  }
}
