.header-logo{
    margin-right: 50px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    // color: white;
}