@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$background-color: #1c1b23;
$font-base-color: rgb(200, 198, 215);
$h1-font-color: #ffffff;
$h2-font-color: rgb(148, 144, 167);
$h3-font-color: rgb(148, 144, 167);

@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url(/fonts/ClashDisplay-Extralight.woff2) format("woff2");
}

@font-face {
  font-family: "ClashDisplay-Light";
  src: url(/fonts/ClashDisplay-Light.woff2) format("woff2");
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url(/fonts/ClashDisplay-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "ClashDisplay-Regular";
  src: url(/fonts/ClashDisplay-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url(/fonts/ClashDisplay-Semibold.woff2) format("woff2");
}

@font-face {
  font-family: "ClashDisplay-Variable";
  src: url(/fonts/ClashDisplay-Variable.woff2) format("woff2");
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

.anim-fade-in {
  animation: fade-in 1s ease-in 0.9s forwards;
}

@keyframes drop-down-fade-in {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.dropdown-fade-in {
  animation: drop-down-fade-in 2s linear forwards;
}

body.main {
  // font-family: 'ClashDisplay-Light';

  font-family: "Roboto", sans-serif;
  background-color: $background-color;
  color: $font-base-color;
  text-align: center;
  //font-size: 1.25rem;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
  }

  h1 {
    color: $h1-font-color;
    line-height: 0px;
    font-size: 1.5em;
  }

  h2 {
    line-height: 25px;
    font-size: 1.125em;
  }

  h3 {
    color: $h3-font-color;
    font-size: 0.88em;
  }

  h4 {
    font-size: 0.75em;
  }

  h5 {
    font-size: 0.62em;
  }

  h6 {
    font-size: 0.5em;
  }

  .footer {
    border-top: thin solid $font-base-color;
    width: 95%;
    text-align: center;
    margin: auto;
  }

  a:link {
    color: $font-base-color;
    text-decoration: none;
  }

  a:visited {
    color: $font-base-color;
    text-decoration: none;
  }

  a:hover {
    color: $font-base-color;
    text-decoration: underline;
  }

  p a:active {
    color: $font-base-color;
    text-decoration: none;
  }

  //letter-spacing: 1px;
}

.generic-main-content {
  width: 80%;
  margin: auto;
  text-align: left;
}